--extra-index-url https://pip-test.techservices.illinois.edu/index/test
pytest
numpy
Django
httpie
jinja2
kafka-python
confluent-kafka[avro]
ldap3
praw
slackclient
twine
wheel
#python-sdg-directory==2.0a2
#sdg-cloud-broker==1.3
#sdg-exchange==1.0
#sdg-midpoint==1.8
